span.vcarddata {
    font-size: xx-small;
}
td.bold {
    font-weight: bold;
}
div#HLogo img {
    max-height: 70px;
}
.table th {
        background-color: #666666; 
        color: white;
}
h4.datagrouplist {
        background-color: #666666; 
        color: white;  
        padding: 10px; 
}
h4.formheader {
        background-color: #4d2b4d; 
        color: white;  
        padding: 10px; 
}
h4.reverse {
        background-color: #4d2b4d; 
        color: white;  
}
img.menu-icon {
    max-height: 16px;
    margin-right: 10px;
}
li#activeCalendarName {
    color: white;
    background-color: rgb(99, 6, 6);
    border-radius: 5px;

}
li#activeCalendarName a {
    color: inherit;
}
#calendarlist {
    max-width: 200px;
    padding: 15px;
}
#newitem  {
    max-width: 300px;
    padding: 15px;
        
}
#calendarlist h4 {
        background-color: #666666; 
        color: white;  
        padding: 10px; 
        
}
li.calendarname {
    padding-left: 5px;
}
li.active {
     color: white;
    background-color: rgb(99, 6, 6);  
        border-radius: 5px;
}
td.active {
     color: white;
    background-color: rgb(99, 6, 6);  
        border-radius: 5px;
}
.vcardcategory:hover {
    background-color: rgb(203, 27, 86);  
}
.vcardcategory {
    margin: 3px;
}
.status_CANCELLED td {
    color: #4f4f4f;
    background-color: #111111;
    text-decoration: line-through;
}
.status_COMPLETED td {
    color: #4f4f4f;
    text-decoration: line-through;
}
.status_unknown td {
    color: #ea3107;
}
.status_OPEN td {
    color: rgb(2, 2, 73);
}
.status_IN-PROCESS td {
    color: rgb(2, 73, 13);
}
.status_NEEDS-ACTION td {
    color: rgb(218, 2, 182);
}
.contactphoto {
    float:right;
    margin: 30px;
    max-width: 400px;
}
#vobjcategories {
    margin-bottom: 20px;
}
.enlargeonhover:hover {
    transform: scale(1.2,1.2);
    background-color: blue;
}
#HHeadline {min-width: 220px;}