span.vcarddata {
    font-size: xx-small;
}
td.bold {
    font-weight: bold;
}
div#HLogo img {
    max-height: 70px;
}
.table th {
        background-color: #666666; 
        color: white;
}
h4.datagrouplist {
        background-color: #666666; 
        color: white;  
        padding: 10px; 
}
img.menu-icon {
    max-height: 16px;
    margin-right: 10px;
}